body {
    font-family: "Bona Nova", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(120deg, rgb(255, 255, 255) 10%, rgba(0, 13, 244, 1) 50%, rgba(255, 255, 255, 1) 90%);
    color: white;
    padding: 20px;
    text-align: center;
}

.corner-images {
    position: absolute;
    width: auto;
    height: 100px;
    border-radius: 10px;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.container {
    padding: 1rem 3rem 1rem 5rem;
    text-align: right;
    text-anchor: end;
}

.container h1 {
    color: #000000;
}

.container p {
    color: #000000;
    font-size: x-large;
    font-style: oblique;
    line-height: 2;
    font-weight: bold;
    direction: rtl;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.nav-item {
    background-color: #f0f8ff;
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.95;
}

.nav-item img {
    width: 150px;
    height: 150px;
    margin-left: 2rem;
    border-radius: 10px;
}

.nav-item div {
    text-align: right;
}

.nav-item h2 {
    color: #000000;
}

.nav-item p {
    color: #000000;
    margin: 1rem 0;
    direction: rtl;
    text-align: right;
}

.nav-item a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #336699;
    text-decoration: none;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: #6699cc;
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.bona-nova-regular {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
}

.bona-nova-bold {
    font-family: "Bona Nova", serif;
    font-weight: 700;
    font-style: normal;
}

.bona-nova-regular-italic {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: italic;
}
