body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #575757;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    text-align: center;
    margin: 20px 0;
}

.corner-images {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    /*visibility: hidden;*/
}

.gallery img {
    margin: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.15);
}

.day-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.day-summary {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
}

.day-summary h2 {
    margin-top: 0;
}

.day-summary p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}